@import "typewriter.css";

:root {
    --bg-color: hsl(49, 37%, 94%);
    --bg-color-secondary: hsl(39, 42%, 49%);
    --bg-container-color: hsl(206, 100%, 50%);
    --bg-menu-color: hsl(215, 94%, 39%);
    --typewriter-speed: 6s;
    --typewriter-characters: 16;
}

.preview-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: 100;
}

.hidden {
    display: none;
}

.preview {
    position: relative;
    text-align: center;
    margin: auto;
    width: 50%;
    top: 50%;
}